/Dataset/car_models/
/Dataset/car_models_json/
/Dataset/test_images/
/Dataset/test_masks/
/Dataset/train_images/
/Dataset/train_masks/
/Dataset/dlib_front_and_rear_vehicles_v1.tar
/Dataset/dlib_front_and_rear_vehicles_v1/youtube_frames/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme08/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme08/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme08_l/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme12/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme16/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme17/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme18/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme20/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme32/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme35/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme42/
/Dataset/dlib_front_and_rear_vehicles_v1/normal_rgb_images/tme46/
/Dataset/dlib_front_and_rear_vehicles_v1/la_hill_st/
/Dataset/dlib_front_and_rear_vehicles_v1/la_hill_st/
/Dataset/dlib_front_and_rear_vehicles_v1/la_hill_st/
/models/faster_rcnn_resnet50_coco_2018_01_28.tar.gz

